.register-institute{
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;

    img{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .form-container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        margin-left: 50%;
    
        form{
            background-color: white;
            padding: 2rem;
            width: 55%;
            display: flex;
            flex-direction: column;
            border-radius: .5rem;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.404);
    
            .form-heading{
                font-size: 1.5rem;
                font-family: $font-family-primary;
                font-weight: 500;
                color: rgb(63,83,181);
                align-items: center;
                justify-content: center;
            }
        }
    }
    
}
